@{
    ViewBag.Title = "NorMall";
    Layout = "_LayoutWide";
}

<!-- About Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h2>About Normall</h2>
            <p>At Normall, we pride ourselves on providing everyday items at reasonable prices. From household essentials to leisure items, we have it all.</p>
        </div>
        <div class="col-md-6">
            <h2>Why Choose Us?</h2>
            <ul>
                <li>Wide range of products</li>
                <li>High quality items</li>
                <li>Easy returns</li>
                <li>Friendly customer service</li>
            </ul>
        </div>
    </div>
</div>