@{
    ViewBag.Title = "Out of stock";
    Layout = "_Layout";
}

<h2 style="color: red;">We're terribly sorry, but an item you tried to purchase was out of stock. Please check the items in your shopping cart and try again.</h2>
